@charset "UTF-8";
/*!
 * Nyakko Neko - https://github.com/Nyakkon
 * Facebook - https://www.facebook.com/nyakko.neko
 *
 * Project made by Nyakko
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-normal: #ffffff;
    --link-hover: rgb(255, 0, 0);
    --link-click: rgba(252, 138, 138, 1);

}

[data-theme="light"] {

}

@font-face {
    font-family: Google;
    src: url(../font/static/DancingScript-Bold.ttf);
}

@font-face {
    font-family: Google;
    src: url(../font/static/DancingScript-Medium.ttf);
}

@font-face {
    font-family: Google;
    src: url(../font/static/DancingScript-Regular.ttf);
}

@font-face {
    font-family: Google;
    src: url(../font/static/DancingScript-SemiBold.ttf);
}

body{
    background-color: black;
}





